/*
Blanco: #ffffff;
Amarillo: #fbd743;
Rojo: #ff1f1f;
Celeste: #5db9ff;
Azul: #363b81;
*/


p{
	color: purple;
}
.red{
	height: 200px;
	width: 100px; 
	background-color: red;
}
th{
	border: solid 2px;
	font-size: 30px;
	background-color: #747a72;
	padding: 0px 20px;
}
td{
	border: solid 2px #000;
	font-size: 30px;
	padding: 0px 20px;
}
.veneno{
	color: #8733b5;
}
.fuego{
	color: #b81f1f;
}
.planta{
	color: #2b6315;
}
.center{
	text-align: center;
}
.container{
	background: #c21500;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}